.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  columns: 3;
  gap: 2rem;
}

.product-card {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  columns: 1;
  gap: 0.5rem;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.product-title {
  font-weight: 600;
  font-size: large;
}

.product-price {
  font-weight: 600;
  font-size: medium;
}

.product-img {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}