.products-layout {
  padding: 0.5rem 1rem;
  background-color: burlywood;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  columns: 3;
  gap: 2rem;
}

.product-card {
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.product-title {
  font-weight: 600;
  font-size: large;
}

.product-price {
  font-weight: 600;
  font-size: medium;
}