.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  columns: 3;
  gap: 2rem;
}

.product-card {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  columns: 1;
  gap: 0.5rem;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.title-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  font-weight: 600;
  font-size: large;
}

.product-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-price {
  font-weight: 600;
  font-size: medium;
}

.product-img {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.cart-animation:hover {
  animation: MoveUpDown 1s linear infinite;
  position: relative;
}

.cart-badge {
  padding: 0.3rem;
  background-color: red;
  border-radius: 9999px;
  position: relative;
  bottom: 1rem;
  right: 1.5rem;
  color: white;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}

@media (max-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    columns: 1;
    gap: 2rem;
  }
}