<section class="layout">
  <h1>Productos</h1>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products">
      <p class="product-title">{{ product.title }}</p>
      <p class="product-price">{{ product.price | currency }}</p>
      <img class="product-img" [src]="product.image" [ariaLabel]="product.title" />
      <button (click)="productInfo(product.id)" class="btn btn-secondary">
        Más información
      </button>
      <button (click)="addToCart(product)" class="btn btn-primary">
        Agregar al carrito
      </button>
    </div>
  </div>
</section>
