<section class="full-layout">
  <div (click)="goToProducts()" class="title">
    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
      <path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z" fill="rgba(255,255,255,1)"></path>
    </svg>
    <h1>Carrito de compras</h1>
  </div>
  <div class="cart">
    <div *ngIf="cart.length > 0; else noProducts">
      <div class="cart-item" *ngFor="let product of cart">
        <div class="cart-title">
          <img width="80px" [src]="product.image" [ariaLabel]="product.title" />
          <p>{{ product.title }}</p>
        </div>
        <div class="cart-title">
          <strong>{{ product.price | currency }}</strong>
          <svg (click)="deleteItem(product)" class="btn-icon-danger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
            <path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(255,255,255,1)"></path>
          </svg>
        </div>
      </div>
      <h2>Total: {{ total | currency }}</h2>
    </div>
    <ng-template #noProducts>
      <p>No hay productos agregados al carrito. ¡Agrega algunos!</p>
    </ng-template>
  </div>
</section>
