.cart {
  display: grid;
  gap: 1rem;
}

.cart-item {
  background-color: #64CCC5;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.cart-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}