<section class="full-layout">
  <div (click)="goToProducts()" class="title">
    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
      <path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path>
    </svg>
    <h2>{{ product?.title }}</h2>
  </div>
  <div class="product-info">
    <div>
      <img height="250px" [src]="product?.image" [ariaLabel]="product?.title" />
    </div>
    <div>
      <p><strong>Precio:</strong> {{ product?.price | currency }}</p>
      <p><strong>Descripción:</strong> {{ product?.description }}</p>
      <p>
        <strong>Puntuación:</strong> {{ product?.rating?.rate + ' (' + product?.rating?.count + ')' }}
      </p>
    </div>
  </div>
</section>