/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font: 1em sans-serif;
}

.layout {
  padding: 0.5rem 1rem;
  background-color: #D9D9D9;
}

.full-layout {
  padding: 0.5rem 1rem;
  background-color: #D9D9D9;
  height: 98vh;
}

.input {
  padding: 0.7rem;
  border-radius: 4px;
  border: 0;
}

.btn {
  padding: 0.6rem 2rem;
  border-radius: 4px;
  border: 0;
  font-size: medium;
}

.btn-primary {
  background-color: #3C6E71;
  color: #D9D9D9;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #048d94;
  color: #D9D9D9;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:disabled {
  background-color: white;
  color: #363B3C;
  cursor: not-allowed;
  font-weight: bold;
}

.btn-secondary {
  background-color: #827e7e;
  color: #ffffff;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #989898;
  color: #ffffff;
  cursor: pointer;
}

.btn-icon {
  padding: 0.5rem;
  border-radius: 9999px;
  background: #317f84;
  cursor: pointer;
}

.btn-icon:hover {
  padding: 0.5rem;
  border-radius: 9999px;
  background: #048d94;
  cursor: pointer;
}

.btn-icon-danger {
  padding: 0.5rem;
  border-radius: 9999px;
  background: #fc0101f2;
  cursor: pointer;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  text-align: left;
  font-size: medium;
}