/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font: 1em sans-serif;
}

.layout {
  padding: 0.5rem 1rem;
  background-color: burlywood;
}

.full-layout {
  padding: 0.5rem 1rem;
  background-color: burlywood;
  height: 98vh;
}

.input {
  padding: 0.7rem;
  border-radius: 4px;
  border: 0;
}

.btn {
  padding: 0.5rem;
  border-radius: 4px;
}

.btn-primary {
  background-color: #001C30;
  color: #64CCC5;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:disabled {
  background-color: white;
  color: #363B3C;
  cursor: not-allowed;
  font-weight: bold;
}

.btn-secondary {
  background-color: #176B87;
  color: white;
  cursor: pointer;
}

.btn-icon {
  padding: 0.5rem;
  border-radius: 9999px;
  background: #64CCC5;
  cursor: pointer;
}

.btn-icon-danger {
  padding: 0.5rem;
  border-radius: 9999px;
  background: #d72a2a;
  cursor: pointer;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  text-align: left;
  font-size: medium;
}